Watersimulation.sdf
Watersimulation.v12.suo
Watersimulation.opensdf

Watersimulation/Debug

Debug/*
!Debug/Watersimulation.exe
!Debug/corona.dll
!Debug/glew32.dll
!Debug/content

Watersimulation/watersimulation.vcxproj.user

Watersimulation/Watersimulation/Debug/*
